---
interface Props {
    key: number;
    id: number;
    title: string;
    price: number;
    img: string;
    category: string;
    free: string;
}

const { title, price, img, category, free, id, key } = Astro.props;
---

<input class="plan__input" type="radio" id={id.toString()} checked={key == 0} name="plans" value={id.toString()}>
<label class="plan plan__label" for={id.toString()}>
    <img class="plan__img" src={img} alt="" srcset="">
    <h3 class="plan__title">{title}</h3>
    <p class="plan__price">${price}{category == 'monthly' ? '/mo' : '/yr'}</p>
    <p class="plan__free">{free}</p>
</label>

<style lang="scss">
    input:checked+label {
        border: 1px solid var(--purple);
        background-color: var(--very-light-grey);
        transition: all .5s ease-in-out;
    }

    input:hover + label {
        border: 1px solid var(--purple);
        background-color: var(--very-light-grey);
        transition: all .5s ease-in-out;
    }
    
    .plan {
        border: 1px solid var(--grey);
        border-radius: 8px;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        &__label {
            cursor: pointer;
        }
        &__input {
            display: none;
        }
        &__img {
            padding-bottom: 2rem;
        }
        &__title {
            font-size: 1rem;
            color: var(--denim);
            margin: 0;
            padding: 0;
        }
        &__price {
            font-size: var(--body-m);
            color: var(--grey);
            margin: 0;
            padding: 5px 0;
        }
        &__free {
            font-size: var(--body-s);
            color: var(--denim);
            margin: 0;
            padding: 0;
        }

        @media screen and (max-width: 500px) {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            display: grid;
            grid-template-columns: 20% 2fr;
            grid-template-rows: 1fr 1fr 1fr;

            align-items: center;

            grid-template-areas: 
                "img title" 
                "img price" 
                "img free"
            ;
            &__img {
                padding-bottom: 0;
                grid-area: img;
            }

            &__title {
                padding: 0;
                grid-area: title;
            }

            &__price {
                grid-area: price;
            }
		}
    }
</style>